<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTOKEY</title>

    <!-- Chamar os arquivos externos -->   
    <link rel="stylesheet" type="text/css" href="/css/inicial.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>  
    <header class="header"></header>
    <main>
        <div>
            <a href="/cadastroProduto" type="submit" id="cadastro"><button class="bungee-regular">Cadastro de Produtos</button></a>
            <a href="/consultaProduto" type="submit" id="consulta"><button class="bungee-regular">Consulta de Produtos</button></a>
            <a href="/cadastroVenda" type="submit" id="cadVenda"><button class="bungee-regular">Cadastro de Vendas</button></a>
            <a href="/consultaVenda" type="submit" id="consVenda"><button class="bungee-regular">Consulta de Vendas</button></a>
        </div>      
    </main>            
</body>
</html>