<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTOKEY</title>

    <!-- Chamar os arquivos externos -->   
    <link rel="stylesheet" type="text/css" href="css/inicial.css">

</head>

<body>    
        <div> 
            <a href="/cadastroProduto" type="submit" id="agendar"><button>Cadastro de Produtos</button></a>
            <a href="/consultaProduto" type="submit" id="consulta"><button>Consulta de Produtos</button></a>
            <a href="/cadastroVenda" type="submit" id="consulta"><button>Cadastro de Vendas</button></a>
            <a href="/consultaVenda" type="submit" id="consulta"><button>Consulta de Vendas</button></a>
        </div>              
     
</body>
</html>