<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTOKEY</title>

    <!-- Chamar os arquivos externos -->   
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/inicial.css">
</head>

<body>    
    <header class="header">
        <nav>
            {{!-- <div class="image"><a href=""><img src="/image/logo_carla_irmaos_games_fundo_branco.png" alt="Logo"></a></div> --}}
        </nav>
    </header>
    <main>
        <div> 
            <a href="/cadastroProduto" type="submit" id="cadastro"><button>Cadastro de Produtos</button></a>
            <a href="/consultaProduto" type="submit" id="consulta"><button >Consulta de Produtos</button></a>
            <a href="/cadastroVenda" type="submit" id="cadVenda"><button>Cadastro de Vendas</button></a>
            <a href="/consultaVenda" type="submit" id="consVenda"><button>Consulta de Vendas</button></a>
        </div>      
    </main>            
</body>
</html>