@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Comic Neue', cursive; 
   background: white;
    
}

html{
    scroll-behavior: smooth;

}

body{
    width: 100vw;
    height: 100vw;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    height: 100vw;  
    background-image: url('../image/logo_carla_irmaos_games_fundo_branco.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100vh;  

}

.menu {
    display: flex;
    width: 0;
    height: 0;
    flex-direction: column;
    padding-top: 35px;
    position: fixed; 
    margin-right: 20%;
    margin-top: 2%;
    top: 0;
    right: 8%;
    gap: 5rem;
    direction: none;
}

.menu ul{
    display: inline-block;
    transition: all .7s ease-in-out;
}

.menu ul:hover{
    transform: translateY(-5px);
}

.bungee-regular{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    width: 250px;
    height: 60px;
    font-family: 'Comic Neue';  
    white-space: nowrap;
    padding: 15px 20px;

}

