body{
    background: rgb(250, 248, 248);
}

.topo-tabela{
    margin: 50px;
    margin-left: 10%;
}
.topo-linha{
    background-color: #E0E0E0;
}

.opcao{
    display: flex;
    margin: 0 10px;
    padding: 5px 10px;
    color: #E0E0E0;
    border: none;
}

.botao-editar{
    margin-right: 10px;
    padding: 0.5em;
    background-color: green;
    color: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao-excluir{
    margin-left: 10px;
    padding: 0.5em;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    position: relative;
    background: none;
    color: #E0E0E0;
    border: 0.1em solid;
    padding: 0.5em 9em;
    margin: 0.5em;
    font-size: 1.0em;
    cursor: pointer;
    border-radius: 30px;
    outline: 0;
    transition: all .7s ease-in-out;
    &:hover {
        transform: translateY(-5px);
        background-color: #14274E;
        color: #E0E0E0;
        border-color: #14274E;

    }
  }

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    text-align: center;
    padding: 0.5em;
}

th{
    text-align: center;
    padding: 0.5em;
    color: #E0E0E0;
    background-color: #14274E;
}

tr:nth-child(even) {
    background-color:#86a7b0;
}

.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
